BASE_URL=http://localhost:3000
API_URL=http://localhost:3000/api

ADMIN_EMAIL=admin@insureflow.com
ADMIN_PASSWORD=Admin@123

AGENT_EMAIL=agent@insureflow.com
AGENT_PASSWORD=Agent@123

POLICYHOLDER_EMAIL=john.doe@email.com
POLICYHOLDER_PASSWORD=Policy@123